@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Rubik", sans-serif;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  height: 100%;
  margin: auto;
  background-size: cover;
}

content{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: blue; */
}

form{
  height: 100%;
  width: 20%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-city{
  width: 60%;
  height: 40%;
  font-size: 1.75rem;
  box-sizing: border-box;
  padding-left: 40px;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: rgba(245, 245, 245, 0.507);
}

.weather-content{
  width: 50%;
  height: 75%;
  /* background-color: rgba(240, 248, 255, 0.514); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.place{
  /* background-color: red; */
}
h3{
  font-size: 3rem;
  margin-block-end: 0;
}

h1{
  font-size: 6rem;
  margin-block-start: 0;
}

.weather{
  width: 80%;
  height: 30%;
  /* background-color: cornsilk; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.degrees{
  width: max(50%, 335px);
  height: 100%;
  /* background-color: antiquewhite; */
  font-size: 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.degrees > svg{
  position: relative;
  width: 40px;
  top: -70px;
}
.weather-stats{
  width: max(50%, 335px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75%;
  /* background-color:aquamarine; */
  box-sizing: border-box;
  padding-left: 20px;
}

#change-degrees-btn{
  width: 100px;
  height: 35px;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.circle{
  width: 35px;
  border-radius: 20px;
  height: 100%;
  background-color: rgb(85, 173, 255);
  margin-left: 0px;
  transition: 0.3s ease-in-out;
}

h2 > svg{
  width: 12px;
  position: relative;
  top: -5px;
}

h2{
  font-size: 2.5rem;
  margin-block: 10px;
}

.circle > svg
{
  display: flex;
  align-items: center;
  justify-content: center;
}